.react-datepicker__input-container {
   width: 0px;
}

.react-datepicker-wrapper {
    
    width: 0px; 
}

input[type=text]{
    width: 200px;
    height: 35px;
    border-radius: 5px;
    padding: 8px;
    margin: 5px;
    border: 2px solid black;
    position: relative;
}

.react-datepicker__close-icon {
    
    left:185px
    
} 

