.form{
        position: relative;
        left: 42%;
        top: 200PX;
        
    }
    
    .input{
    
        padding: 5px;
        border-radius: 5px;
        margin: 10px;
        border: 2px solid black;
    }
    #addButton{
        padding: 5px;
        
        border-radius: 5px;
        background-color: black;
        color:white;
        cursor: pointer;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        
    }